<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="refresh" content="10; URL=form" />
    </head>
    <body>
        <div>Register Fail!!! It will take you back to registration form in 10 seconds</div>
        <li  th:text="${errorMessage}" />
    </body>
</html>
